__pycache__/
*.py[cod]
.pyc
backend-chatbot/data/flutter/index.faiss
backend-chatbot/data/flutter/index.pkl

research/


retrieval_service/retrieval_service.egg-info/
retrieval_service/test/data/
retrieval_service/test/logs/




